<article id="{{this._id}}" class="post">
    {{#if date}}
        <time datetime="{{this.data}}">{{date}}</time>
    {{/if}}
    <h1>{{title}}</h1>
    {{#if tags}}
        <div class="tags">
            {{#each tags}}
                <a href="/blog/tag/{{this}}">{{this}}</a>
            {{/each}}
        </div>
    {{/if}}
    <div class="content">
        {{{content}}}
    </div>
</article>

